
$black: #231F20;
$blue: #1A66A0;
$font2: 'Teko', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font1: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

@each $h in -40,5,10,15,25,20,30,35,40,45,50,55,60,70,75,90,95 {
  .mt#{$h} {
    margin-top: #{$h}px;
  }
}

.hidden {
	display:none;
}

#datepicker {

	.ui-state-default:hover {
		background: transparent;
		cursor:default;
		color: #B3B3B3;
	}
	
	table.ui-datepicker-calendar tbody td.highlight > a {
		 background: #333333;
		 cursor:pointer;
	}

	.ui-datepicker-current-day a.ui-state-active,
	 table.ui-datepicker-calendar tbody td.highlight > a:hover {
		background:yellow !important;
		color: $black;
		border:1px solid #636363;
	 }

	.ui-datepicker-today	a.ui-state-highlight {
		background: transparent;
		color: yellow;
	}

	.ui-datepicker {
		width:100%;
		background:#4D4D4D;
		border:0;
	}

	.ui-datepicker-title {
	}

	.ui-datepicker-prev:hover,
	.ui-datepicker-next:hover {
	
	}
	
	.ui-datepicker-other-month {
		// Cells containing days that occur in a month other than the currently selected month.
	}
	
	.ui-datepicker-current-day {}

	.ui-datepicker-today {}


} //#datepicker

.date-title {
	>.row {
		background:yellow;
	}

	h2 {
		color:$black;
		text-align: center;
		font: 600 41px $font2;
		margin-bottom: 0;
	}

	.cal {
		opacity: .75;
		cursor:pointer;

		&:hover {
			opacity: 1;
		}
	}
	
	.date-nav  {
		 margin-top:15px;
	}
	
} // .date-title

.athlete-toggle {
	color: #76A4C4;
	font-size: 15px;
	font-weight: 900;
	margin:10px 0 0 10px;
}

.hero {
	margin:30px 0;
}


ul.athletes {
	li {
		padding: 10px; 

		&.current {
			background:#231F20;
	
			a {
				color: yellow;
			}
		}
	}
	
	a {
		color:#808080;

		&:hover {
			color: yellow;
		}

	}
} //ul.athletes 

.top-bar,
.top-bar a {
	color: $blue;
}

.top-bar {
	-webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.3);


	h2 {
		display: inline;
		font-size: 22px;
		margin-right: 60px;
	}
	
	.login {
		background-image:url('../images/icon-user-2x.png'), url('../images/icon-arrow-down-2x.png');
		background-repeat:no-repeat, no-repeat;
		background-position:0 10px, right 17px;
		background-size: 14px 14px, 8px 6px;
		padding: 10px 15px 0 22px;
		margin-right: 10px;
		font-size: 12px;
		cursor:pointer;

		&:hover {
			color:#76A4C4;
		}
	}

} // .top-bar


.off-canvas-wrapper {
  min-height: calc(100vh - 50px);
}
.off-canvas {
  bottom: 0;
}

h1 {
	font: 600 61px $font2;

	span {
		font: 600 16px $font1;
		color:$blue;
	}
}

